
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Data</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">U P D A T E </h2>
            <span class="text-light">Use the below form to Update an data</span>
        </div>

        <!-- add bunga form -->
         <!-- form handling -->
    <form method="POST" id="update_bunga">
        <div class="new_bunga">
            <div class="form-group">
                <label for="jenis" class="text-light">Jenis Bunga</label>
                <input type="hidden" name="id" value="<%= bunga._id %>">
                <input type="text" name="jenis" value="<%= bunga.jenis %>" placeholder="">
            </div>
            <div class="form-group">
                <label for="jenis" class="text-light">Warna Bunga</label>
                <div class="border">
                <select id="warna" name="warna">
                    <option value="Merah" <%= bunga.warna == 'Merah' ? 'checked' : '' %>>Merah</option>
                    <option value="Putih" <%= bunga.warna == 'Putih' ? 'checked' : '' %>>Putih</option>
                    <option value="Ungu" <%= bunga.warna == 'Ungu' ? 'checked' : '' %>>Ungu</option>
                    <option value="Kuning" <%= bunga.warna == 'Kuning' ? 'checked' : '' %>>Kuning</option>
                </select>
            </div>   
        </div>
        <div class="form-group">
            <label for="stock" class="text-light">Stock</label>
            <input type="number" name="stock" value="<%= bunga.stock %>" placeholder="">
        </div>

        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="status" value="masuk"<%= bunga.status == 'Masuk'?'checked' : '' %>>
                <label for="radio-2" class="radio-label">Masuk</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="status" value="keluar"<%= bunga.status =='Keluar'?'checked' : '' %>>
                <label for="radio-3" class="radio-label">Keluar</label>
            </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn text-dark update">Save</button>
            </div>
    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->